<div id="<%= game.id%>" class="col-xs">
	<% img_url = get_youtube_thumbnail(game.trailer_url) %>
	<div id="gameCard" class="card text-center text-white hover-shadow"
		style="background-image: url(<%= img_url%>)">
		<div class="card-block">
			<h4 class="card-title has-popover" data-toggle="popover" data-content="<%= game.title%>" >
				<a href="<%= game_path(game)%>" data-remote="true" 
					style="text-decoration: none;color: white">
					<%= truncate(game.title.html_safe, length: 12)%>		
				</a>
			</h4>
			<h6 class="card-subtitle mb-2"><%= game.creator%></h6>
			<p class="card-text"><i>released in <%= game.year%></i></p>
			<%= link_to 'Play Trailer', show_game_trailer_path(game), class: 'btn btn-secondary',
				method: :get, remote: true %>
		</div>
	</div>
</div>