<div id="<%= movie.id%>" class="col-xs">
	<div id="movieCard" class="card text-center bg-faded">
		<div class="card-block">
			<h4 class="card-title has-popover" data-toggle="popover" title="<%= movie.title%>" >
			<%= truncate(movie.title.html_safe, length: 12)%></h4>
			<h6 class="card-subtitle mb-2"><%= movie.genre%></h6>
			<p class="card-text text-muted"><i>released in year <%= movie.year%></i></p>
			<%= link_to "Play Trailer", movie_path(movie), class: 'btn btn-secondary',
				method: :get, remote: true %>
		</div>
		<div class="card-footer">
			<div id="edit_movie" style="margin: auto;text-align: center">
				<%= link_to 'Edit', {controller: 'movies',action: 'edit',id: movie.id,token: 'movie'}, method: :get, class: 'btn btn-info btn-sm', remote: true %>&nbsp;&nbsp;
				<a href="<%= delete_confirm_movie_path%>" class="btn btn-danger btn-sm"
					data-remote="true" data-params="id=<%= movie.id%>">Delete</a>
			</div>
		</div>
	</div>
</div>