<div id="wrapper" class="row">

	<!-- Sidebar -->
	<div id="sidebar-wrapper" class="bg-primary">
		
		<span>
			<a href="<%= edit_user_path(@user)%>" data-remote="true">
	        <%= image_tag @user.avatar.url(:medium), :class => 'img-circular' %></a>
	    </span>

	    <ul class="sidebar-nav">
	        <li class="sidebar-brand">
	        	<a href="<%= root_url%>">Home</a>
	        </li>
	        <li>
	            <a id="dashboard" href="/users/<%= @user.id%>?token=dashboard">Dashboard</a>
	        </li>
	        <li>
	            <a id="music" href="/users/<%= @user.id%>?token=music">Music</a>
	        </li>
	        <li>
	            <a id="movies" href="/users/<%= @user.id%>?token=movies">Movies</a>
	        </li>
	        <li>
	            <a id="games" href="/users/<%= @user.id%>?token=games">Games</a>
	        </li>
	        <li>
	            <a id="documents" href="#">Documents</a>
	        </li>
	    </ul>
	</div>

	<!-- Page Content -->
	<div id="page-content-wrapper" class="col-lg">
		<div class="container-fluid text-center">
			
			<div class="row">
				<h1 style="margin: auto;padding-top: 20px;padding-left: 70px">
				<center>Hey, <%= @user.first_name%>!</center></h1>
			</div><br>

			<%= render partial: 'dashboard',locals: {songs: @songs,movies: @movies,games: @games} %>
		</div>
	</div>
</div>

<script>
// Menu Toggle Script 
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});

// Set selected menu option
// var selector = '.sidebar-nav li';

// $(selector).on('click', function(){
//     $(selector).removeClass('active');
//     $(this).addClass('active'); 
// });

// Set selected menu option from url
var id = "<%= j @menuOption %>";
$("#"+id).addClass('active');
</script>