<nav class="navbar navbar-light fixed-top" style="background-color: white">

  <div class="navbar-header">
    
    <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
          aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <span style="font-size: 1.5em" class="navbar-brand">
      <b>Data Repository</b>
    </span>
  </div>
  
  <div class="collapse navbar-toggleable-md" id="navbarSupportedContent">
    <% if current_page?(musics_path) %>
      <ul style="margin: 10px" class="nav navbar-nav text-md-end justify-content-end">
        <li class="nav-item">
        <%= link_to 'Home', welcome_Index_path, class: 'btn'%></li>
        <li class="nav-item">
          <form class="form-inline">
            <input class="form-control" type="text" placeholder="Search">           
            <button class="btn btn-outline-success" type="submit">Search Music</button>
          </form>
        </li>
      </ul>
    <% elsif current_page?(welcome_Index_path) || current_page?(root_path) %>
      <ul style="margin: 10px" class="nav navbar-nav text-md-center justify-content-md-between">
        <li style="margin-right: 30px" class="nav-item">
          <%= link_to 'Home', welcome_Index_path, class: 'btn'%></li>
        <li style="margin-right: 30px" class="nav-item">
          <%= link_to 'Music', musics_path, class: 'btn'%></li>
        <li style="margin-right: 30px" class="nav-item">
          <%= link_to 'Movies', movies_path, class: 'btn'%></li>
        <li class="nav-item"><%= link_to 'Games', games_path, class: 'btn'%></li>
      </ul>
    <% else %>
      <ul style="margin: 10px" class="nav navbar-nav navbar-right">
        <li class="nav-item">
        <%= link_to 'Home', welcome_Index_path, class: 'btn'%></li>
        <li class="nav-item">
          <%= link_to 'Go Back', musics_path, class: 'btn' %>
        </li>
      </ul>
    <% end %>
  </div>
</nav>