<nav id="myNavbar" class="navbar navbar-inverse bg-primary fixed-top">

  <div class="navbar-header">

    <% if logged_in? && current_page?(user_path(get_current_user)) %>
      <a href="#menu-toggle" class="navbar-toggler navbar-toggler-left" id="menu-toggle">
        <span class="navbar-toggler-icon"></span>
      </a>
    <% else %>  
      <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
            aria-expanded="false" aria-label="Toggle navigation" id="navMenu">
        <span class="navbar-toggler-icon"></span>
      </button>
    <% end %>

    <span style="font-size: 1.5em" class="navbar-brand">
      <b>Data Repository</b>
    </span>

    <% if !logged_in? %>
      <% if !current_page?('/sessions/new') %>
        <button class="navbar-toggler-right btn btn-primary" data-toggle="collapse"
            data-target="#navbarLogin" aria-controls="navbarLogin" aria-expanded="false" 
            aria-label="Toggle navigation" id="navLogin">
          <span style="font-size: 1em"><b>Log In</b></span>
        </button>
      <% end %>  
    <% else %>
       <%= link_to 'Log Out', logout_path(get_current_user.id), 
          class: 'navbar-toggler-right btn btn-primary',method: :delete %>
    <% end %>
  </div>
  
  <div class="collapse navbar-toggleable-md" id="navbarSupportedContent">
    <% if current_page?(welcome_Index_path) || current_page?(root_path) || current_page?(documents_path) ||
      current_page?(musics_path) || current_page?(movies_path) || current_page?(games_path) || 
      current_page?('/users/new') || current_page?('/sessions/new') %>
      <ul style="margin: 10px" class="nav navbar-nav text-md-center justify-content-md-between">
        <li style="margin-right: 30px" class="nav-item">
          <%= link_to 'Home', root_path, class: 'btn text-white'%></li>
        <li style="margin-right: 30px" class="nav-item">
          <%= link_to 'Music', musics_path, class: 'btn text-white'%></li>
        <li style="margin-right: 30px" class="nav-item">
          <%= link_to 'Movies', movies_path, class: 'btn text-white'%></li>
        <li style="margin-right: 30px" class="nav-item">
          <%= link_to 'Games', games_path, class: 'btn text-white'%></li>
        <li style="margin-right: 30px" class="nav-item">
          <%= link_to 'Documents', documents_path, class: 'btn text-white'%></li>
        <% if logged_in? %>
          <li style="margin-right: 30px" class="nav-item">
            <%= link_to 'To Profile', {controller: 'users',action: 'show',id: get_current_user.id,
                token: 'dashboard'}, class: 'btn text-white' %>  
          </li>

          <% if !current_page?(root_path) && !current_page?(welcome_Index_path) %>
            <li class="nav-item">
              <a class="btn text-white" href="#" data-toggle="collapse" data-target="#navbarSearchForm">
              Search</a>
            </li>
          <% end %>
        <% else %> 
          <% if current_page?(welcome_Index_path) || current_page?(root_path) %>
            <li class="nav-item">
              <a class="btn text-white" href="#" data-toggle="collapse" data-target="#navbarSearchForm">
                Search</a>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% else %>
      <ul style="margin: 10px" class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <%= link_to 'Home', welcome_Index_path, class: 'btn text-white'%>    
        </li>
        <!-- works only for search -->
        <li class="nav-item">
          <%= link_to 'Go Back', go_back, class: 'btn text-white' %>   
        </li>
      </ul>
    <% end %>
  </div>

  <div class="collapse navbar-toggleable-md" id="navbarLogin">
    <ul style="margin: 10px" class="nav navbar-nav text-md-center justify-content-md-between">
      <li class="nav-item">
        <%= form_for :session, url: {controller: 'sessions',action: 'create',method: :post} do |f| %>

            <div class="field form-group text-white">
              <%= f.label :email, "E-Mail:",class: 'control-label' %>
              <div class="col-sm">
                <%= f.text_field :email, class: 'form-control' %>
              </div>
            </div>

            <div class="field form-group text-white">
              <%= f.label :password, "Password:",class: 'control-label' %>
              <div class="col-sm">
                <%= f.password_field :password, class: 'form-control' %>
              </div>
            </div>

            <div class="submit">
              <%= f.submit 'Login', class: 'btn btn-primary', :name => 'submit' %>
            </div>
        <% end %>
        <div style="margin-top: 5px;">
          <%= button_to 'Create Account', new_user_path, class: 'btn btn-success', method: :get %>
        </div>
      </li>
    </ul>
  </div>

  <!-- <div class="collapse navbar-toggleable-md" id="navbarSearch">
    <ul style="margin: 10px" class="nav navbar-nav text-md-center justify-content-md-between">
      <%# if current_page?(musics_path) %>
        <li style="margin-right: 30px" class="nav-item">
          <a href="#" class="btn text-white" data-target="#navbarSearchForm" data-toggle="collapse">
            by Title
          </a>
        </li>
        <li style="margin-right: 30px" class="nav-item">
          <a href="#" class="btn text-white" data-target="#navbarSearchForm" data-toggle="collapse">
            by Year
          </a>
        </li>
        <li style="margin-right: 30px" class="nav-item">
          <a href="#" class="btn text-white" data-target="#navbarSearchForm" data-toggle="collapse">
            by Artist
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="btn text-white" data-target="#navbarSearchForm" data-toggle="collapse">
            by Album
          </a>
        </li>
      <%# elsif current_page?(movies_path) %>
        <li style="margin-right: 30px" class="nav-item">
          <a href="#" class="btn text-white" data-target="#navbarSearchForm" data-toggle="collapse">
            by Title
          </a>
        </li>
        <li style="margin-right: 30px" class="nav-item">
          <a href="#" class="btn text-white" data-target="#navbarSearchForm" data-toggle="collapse">
            by Year
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="btn text-white" data-target="#navbarSearchForm" data-toggle="collapse">
            by Genre
          </a>
        </li>
      <%# elsif current_page?(games_path) %>
        <li style="margin-right: 30px" class="nav-item">
          <a href="#" class="btn text-white" data-target="#navbarSearchForm" data-toggle="collapse">
              by Title
          </a>
        </li>
        <li style="margin-right: 30px" class="nav-item">
          <a href="#" class="btn text-white" data-target="#navbarSearchForm" data-toggle="collapse">
            by Year
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="btn text-white" data-target="#navbarSearchForm" data-toggle="collapse">
            by Creator
          </a>
        </li>
      <%# else %>
      <%# end %>  
    </ul>
  </div> -->

  <div class="collapse navbar-toggleable-md" id="navbarSearchForm">

    <% if current_page?(musics_path) %>
      <% path = search_music_path %>
    <% elsif current_page?(movies_path) %>
      <% path = search_movies_path %>
    <% elsif current_page?(games_path) %>
      <% path = search_games_path %>
    <% elsif current_page?(documents_path) %>
      <% path = search_documents_path %>
    <% else %>
      <% path = home_search_path %>
    <% end %>

    <ul style="margin: 10px" class="nav navbar-nav text-md-center justify-content-md-between">
      <li class="nav-item">
        <% if path != home_search_path %>
          <%= form_tag(path, method: 'post') do %>
            <%= label_tag(:search, 'Search for:', class: 'text-white') %>&nbsp;
            <%= text_field_tag(:search) %>
            <%= submit_tag('Search', class: 'btn text-white btn-primary') %>
          <% end %>
        <% else %>
          <%= form_tag(path, method: 'post', remote: true ) do %>
            <%= label_tag(:search, 'Search title:',class: 'text-white') %>&nbsp;
            <%= text_field_tag(:search) %>
            <%= submit_tag("Search",class: 'btn text-white btn-primary') %>
          <% end %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>