<div id="<%= game.id%>" class="col-xs">
	<div id="gameCard" class="card text-center bg-faded hover-shadow">
		<div class="card-block">
			<h4 class="card-title has-popover" data-toggle="popover" title="<%= game.title%>" >
			<%= truncate(game.title.html_safe, length: 12)%></h4>
			<h6 class="card-subtitle mb-2"><%= game.creator%></h6>
			<p class="card-text text-muted"><i>released in <%= game.year%></i></p>
			<a href="https://www.youtube.com/watch?v=<%= game.trailer_url%>" target="_blank">
				Go to YouTube</a>
		</div>
	</div>
</div>