<div id="<%= movie.id%>" class="col-xs">
	<div id="movieCard" class="card text-center bg-faded hover-shadow">
		<div class="card-block">
			<h4 class="card-title has-popover" data-toggle="popover" title="<%= movie.title%>" >
			<%= truncate(movie.title.html_safe, length: 12)%></h4>
			<h6 class="card-subtitle mb-2"><%= movie.genre%></h6>
			<p class="card-text text-muted"><i>released in year <%= movie.year%></i></p>
			<a href="https://www.youtube.com/watch?v=<%= movie.trailer_url%>" target="_blank">
				Go to YouTube</a>
		</div>
	</div>
</div>