<div id="<%= movie.id%>" class="col-xs">
	<% img_url = get_youtube_thumbnail(movie.trailer_url) %>
	<div id="movieCard" class="card text-center text-white hover-shadow" 
		style="background-image: url(<%= img_url%>);">
		<div class="card-block">
			<h4 class="card-title has-popover" data-toggle="popover" data-content="<%= movie.title%>" >
			<%= truncate(movie.title.html_safe, length: 12)%></h4>
			<h6 class="card-subtitle mb-2"><%= movie.genre%></h6>
			<p class="card-text"><i>released in year <%= movie.year%></i></p>
			<a href="https://www.youtube.com/watch?v=<%= movie.trailer_url%>" class="btn btn-secondary"
			target="_blank">Go to YouTube</a>
		</div>
	</div>
</div>