<div id="<%= song.id%>" class="col-xs">
	<% img_url = get_youtube_thumbnail(song.youtube_url) %>
	<div id="songCard" class="card text-center text-white hover-shadow" 
		style="background-image: url(<%= img_url%>);">
		<div class="card-block">
			<h4 class="card-title has-popover" data-toggle="popover" data-content="<%= song.title%>">
				<%= truncate(song.title.html_safe, length: 12)%></h4>
			<h6 class="card-subtitle mb-2"><%= song.album%></h6>
			<p class="card-text"><i>by <%= song.artist%> in <%= song.year%></i></p>
			<!-- <a href="<%= music_path(song)%>" data-params="id=<%= song.id%>" data-toggle="modal"			data-remote="true">Show Details</a> -->
			<a href="https://www.youtube.com/watch?v=<%= song.youtube_url%>" class="btn btn-secondary"
				target="_blank">Go to Youtube</a>
		</div>
	</div>
</div>