<div id="<%= game.id%>" class="col-xs">
	<div id="gameCard" class="card text-center bg-faded hover-shadow">
		<div class="card-block">
			<h4 class="card-title has-popover" data-toggle="popover" data-content="<%= game.title%>" >
			<%= truncate(game.title.html_safe, length: 12)%></h4>
			<h6 class="card-subtitle mb-2"><%= game.creator%></h6>
			<p class="card-text text-muted"><i>released in <%= game.year%></i></p>
			<%= link_to 'Play Trailer', show_game_trailer_path(game), class: 'btn btn-secondary',
				method: :get, remote: true %>
		</div>

		<div class="card-footer">
			<div id="edit_game" style="margin: auto;text-align: center">
				<%= link_to 'Edit', {controller: 'games',action: 'edit',id: game.id,token: 'game'},
					method: :get, class: 'btn btn-info btn-sm', remote: true %>&nbsp;&nbsp;
				<a href="<%= delete_confirm_game_path%>" data-remote="true" 
					class="btn btn-sm btn-danger" data-params="id=<%= game.id%>">Delete</a>
			</div>
		</div>
	</div>
</div>