<div class="container-fluid text-center">
	
	<div class="row">
		<h1 style="margin: auto;padding-top: 20px;padding-left: 70px">
		<center>Here are the details:-</center></h1><br>
	</div>

	<p style="margin: auto" class="pClass">
	Title: <%= @music.title%><br>
	Album: <%= @music.album%><br>
	Artist: <%= @music.artist%><br>
	Year: <%= @music.year%><br>
	<% if !@music.youtube_url.blank? %>
		YouTube: <%= link_to "Go to YouTube", @music.youtube_url, target: :_blank %>
	<% end %>

	<%= button_to "Go to Gallery", {:controller => 'musics', :action => 'index'},
		:method => :get, :class => 'btn btn-primary' %>

	<i>You will be redirected after 5 seconds...</i>
	<%= javascript_tag do %>
		window.setTimeout(function(){window.location.href='<%= musics_url%>'},5000);
	<% end %>
	</p>
</div>