<!DOCTYPE html>
<html>
  <head>
    <title>DataRepository</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navigation' %>

    <div id="main-container" class="container-fluid bg-faded">

      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>

      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <%= yield %>
  	</div>

    <div class="modal hide fade" id="main-modal">
      <div class="modal-dialog">
        
      </div>
    </div>
  </body>
</html>